In [49]:
import pandas as pd
from prophet import Prophet
import datetime as dt
import numpy as np
from matplotlib import pyplot

%matplotlib inline

In [50]:
adidas_path = 'Resources/Adidas US Sales Datasets.xlsx'
adidas_df = pd.read_excel(adidas_path,
                          index_col='Unnamed: 3',
                          parse_dates=True,
                          date_format='dateutil')

In [51]:
adidas_df = adidas_df.rename_axis('Invoice Date')
adidas_df.drop(['Unnamed: 0', 'Unnamed: 2'], axis=1, inplace=True)
adidas_df = adidas_df.rename(
    columns={
        'Unnamed: 1': 'Retailer',
        'Unnamed: 4': 'Region',
        'Unnamed: 5': 'State',
        'Unnamed: 6': 'City',
        'Unnamed: 7': 'Product',
        'Unnamed: 8': 'Price per Unit',
        'Unnamed: 9': 'Units Sold',
        'Unnamed: 10': 'Total Sales',
        'Unnamed: 11': 'Operating Profit',
        'Unnamed: 12': 'Operating Margin',
        'Unnamed: 13': 'Sales Method'
    }
)
adidas_df.dropna(inplace=True)

In [52]:
display(adidas_df.head(20))
display(adidas_df.tail(20))

,Retailer,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
Invoice Date,,,,,,,,,,,
Invoice Date,Retailer,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
2020-01-01 00:00:00,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
2020-01-02 00:00:00,Foot Locker,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,0.3,In-store
2020-01-03 00:00:00,Foot Locker,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,0.35,In-store
2020-01-04 00:00:00,Foot Locker,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,0.35,In-store
2020-01-05 00:00:00,Foot Locker,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,0.3,In-store
2020-01-06 00:00:00,Foot Locker,Northeast,New York,New York,Women's Apparel,50,1000,500000,125000,0.25,In-store
2020-01-07 00:00:00,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50,1250,625000,312500,0.5,In-store
2020-01-08 00:00:00,Foot Locker,Northeast,New York,New York,Men's Athletic Footwear,50,900,450000,135000,0.3,Outlet
2020-01-21 00:00:00,Foot Locker,Northeast,New York,New York,Women's Street Footwear,40,950,380000,133000,0.35,Outlet
2020-01-22 00:00:00,Foot Locker,Northeast,New York,New York,Women's Athletic Footwear,45,825,371250,129937.5,0.35,Outlet
2020-01-23 00:00:00,Foot Locker,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,0.3,Outlet
2020-01-24 00:00:00,Foot Locker,Northeast,New York,New York,Women's Apparel,50,1000,500000,125000,0.25,Outlet
2020-01-25 00:00:00,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50,1220,610000,305000,0.5,Outlet
2020-01-26 00:00:00,Foot Locker,Northeast,New York,New York,Men's Athletic Footwear,50,925,462500,138750,0.3,Outlet
2020-01-27 00:00:00,Foot Locker,Northeast,New York,New York,Women's Street Footwear,40,950,380000,133000,0.35,Outlet
2020-01-28 00:00:00,Foot Locker,Northeast,New York,New York,Women's Athletic Footwear,45,800,360000,126000.0,0.35,Outlet
2020-01-29 00:00:00,Foot Locker,Northeast,New York,New York,Men's Apparel,60,850,510000,153000,0.3,Outlet
2020-01-30 00:00:00,Foot Locker,Northeast,New York,New York,Women's Apparel,50,950,475000,118750,0.25,Outlet
2020-01-31 00:00:00,Foot Locker,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,Outlet

,Retailer,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
Invoice Date,,,,,,,,,,,
2021-11-18 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42,114,4788,2058.84,0.43,Outlet
2021-11-18 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Street Footwear,51,114,5814,2034.9,0.35,Outlet
2021-11-18 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Athletic Footwear,43,114,4902,1666.68,0.34,Outlet
2021-11-18 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Apparel,59,96,5664,1925.76,0.34,Outlet
2021-11-18 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Apparel,61,120,7320,3001.2,0.41,Outlet
2021-12-17 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Street Footwear,49,200,9800,4606,0.47,Outlet
2021-12-17 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,49,128,6272,2634.24,0.42,Outlet
2021-12-17 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Street Footwear,47,128,6016,2165.76,0.36,Outlet
2021-12-17 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Athletic Footwear,49,116,5684,1989.4,0.35,Outlet
2021-12-17 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Apparel,50,123,6150,2275.5,0.37,Outlet
2021-12-17 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Apparel,61,144,8784,3513.6,0.4,Outlet
2021-01-24 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Street Footwear,36,165,5940,2197.8,0.37,Outlet
2021-01-24 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,36,93,3348,1339.2,0.4,Outlet
2021-01-24 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Street Footwear,35,99,3465,935.55,0.27,Outlet
2021-01-24 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Athletic Footwear,33,51,1683,471.24,0.28,Outlet
2021-01-24 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Apparel,50,64,3200,896.0,0.28,Outlet
2021-01-24 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Apparel,41,105,4305,1377.6,0.32,Outlet
2021-02-22 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Street Footwear,41,184,7544,2791.28,0.37,Outlet
2021-02-22 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42,70,2940,1234.8,0.42,Outlet
2021-02-22 00:00:00,Foot Locker,Northeast,New Hampshire,Manchester,Women's Street Footwear,29,83,2407,649.89,0.27,Outlet

In [53]:
monthly_temps_path = 'Resources/average_monthly_temperature_by_state_1950-2022.csv'
monthly_temps_df = pd.read_csv(monthly_temps_path,
                               index_col='year')

In [54]:
monthly_temps_df = monthly_temps_df.loc['2020':'2021']

monthly_temps_df.drop(['Unnamed: 0', 'monthly_mean_from_1901_to_2000', 'centroid_lon', 'centroid_lat'], axis=1, inplace=True)

monthly_temps_df = monthly_temps_df

In [57]:

display(monthly_temps_df.head(48))
display(monthly_temps_df.tail(48))

      month           state  average_temp
year
2020      1         Alabama          50.4
2020      1         Arizona          43.0
2020      1        Arkansas          44.8
2020      1      California          44.8
2020      1        Colorado          27.8
2020      1     Connecticut          32.4
2020      1        Delaware          40.1
2020      1         Florida          62.8
2020      1         Georgia          51.8
2020      1           Idaho          27.0
2020      1        Illinois          33.7
2020      1         Indiana          35.2
2020      1            Iowa          26.2
2020      1          Kansas          35.4
2020      1        Kentucky          41.2
2020      1       Louisiana          53.9
2020      1           Maine          21.8
2020      1        Maryland          39.0
2020      1   Massachusetts          31.2
2020      1        Michigan          27.7
2020      1       Minnesota          15.4
2020      1     Mississippi          50.4
2020      1        Missouri          36.8
2020      1         Montana          24.6
2020      1        Nebraska          28.7
2020      1          Nevada          34.2
2020      1   New Hampshire          25.0
2020      1      New Jersey          36.8
2020      1      New Mexico          37.2
2020      1        New York          27.5
2020      1  North Carolina          46.3
2020      1    North Dakota          14.5
2020      1            Ohio          35.6
2020      1        Oklahoma          42.7
2020      1          Oregon          34.6
2020      1    Pennsylvania          32.4
2020      1    Rhode Island          34.7
2020      1  South Carolina          50.3
2020      1    South Dakota          21.7
2020      1       Tennessee          44.1
2020      1           Texas          50.7
2020      1            Utah          28.8
2020      1         Vermont          23.4
2020      1        Virginia          41.0
2020      1      Washington          33.8
2020      1   West Virginia          37.9
2020      1       Wisconsin          22.5
2020      1         Wyoming          23.4

      month           state  average_temp
year
2021     12         Alabama          54.6
2021     12         Arizona          50.7
2021     12        Arkansas          51.4
2021     12      California          49.2
2021     12        Colorado          36.5
2021     12     Connecticut          39.0
2021     12        Delaware          44.6
2021     12         Florida          64.9
2021     12         Georgia          54.6
2021     12           Idaho          31.6
2021     12        Illinois          40.5
2021     12         Indiana          40.2
2021     12            Iowa          35.6
2021     12          Kansas          43.9
2021     12        Kentucky          45.5
2021     12       Louisiana          59.6
2021     12           Maine          29.8
2021     12        Maryland          44.0
2021     12   Massachusetts          38.4
2021     12        Michigan          33.2
2021     12       Minnesota          25.2
2021     12     Mississippi          55.9
2021     12        Missouri          45.2
2021     12         Montana          27.8
2021     12        Nebraska          38.2
2021     12          Nevada          38.8
2021     12   New Hampshire          32.4
2021     12      New Jersey          42.5
2021     12      New Mexico          44.8
2021     12        New York          34.8
2021     12  North Carolina          49.4
2021     12    North Dakota          23.4
2021     12            Ohio          40.4
2021     12        Oklahoma          50.8
2021     12          Oregon          37.2
2021     12    Pennsylvania          38.4
2021     12    Rhode Island          40.8
2021     12  South Carolina          53.1
2021     12    South Dakota          31.4
2021     12       Tennessee          48.0
2021     12           Texas          58.2
2021     12            Utah          36.8
2021     12         Vermont          31.2
2021     12        Virginia          45.2
2021     12      Washington          34.7
2021     12   West Virginia          41.8
2021     12       Wisconsin          29.3
2021     12         Wyoming          31.3